h2 {
    display: flex;
    flex-direction: row;
    letter-spacing: 5px;
    font-family:cursive;
}
h2:before,
        h2:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid #000;
            margin: auto;
        }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 30%;
    border: 5px solid black;
  }
img:hover{
    border: 6px solid gray;
}
.filter1{
    filter: grayscale(100%) brightness(80%) contrast(80%);
}
.filter2{
    filter: sepia(100%) brightness(110%) contrast(100%);
}
.filter3{
    filter: saturate(110%) brightness(95%) contrast(110%);
}
figure{
    text-align: center;
}
figcaption{
    margin: 10px;
    font-family: cursive;
}