body{
    background-color: #e6e6e5;
    color: #343e41;
    line-height: 30px;
}

code{
    color: #e6e6e5;
    background-color:#343e41;
    padding: 2px;
}

h1 {
    color: #343e41;
    padding: 10px 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 5px;
}

hr{
    height: 3px;
    background-color: #8d8c90;
}

table, th, td{
    border: 2px solid #8d8c90;
    width: 600px;
    margin-left: 200px;
    padding: 5px;
    text-align: center;
}

aside{
    float:right;
    margin-right: 200px;
}

h2{
    margin-left: 200px;
    color: #775c63;
    font-size: 35px;
    padding-left: 180px;
}

.comment{
    color: green;
}

td.size{
    font-size: 20px;
}

td.family{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

td.bgcolor{
    background-color: lightpink;
}

td.color{
    color: orangered;
}

td.style{
    font-style: oblique;
}

td.weight{
    font-weight: 900;
}

td.align{
    text-align:center;
}
td.deco{
    text-decoration:line-through;
}

td.padding{
    padding: 10px;
}

td.indent{
    text-indent: 5px;
}

td.shadow{
    text-shadow: 2px 2px #E5D1FA;
}

td.lspace{
    letter-spacing: 2px;
}

td.wspace{
    word-spacing: 2px;
}

td.float{
    float:right;
}

td.variant{
    font-variant: small-caps;
}

td.lheight{
    line-height: 50px;
}

th{
    color: #d2984a;
    font-size: 20px;
}
