body{
    margin: 0;
    font-family: "Arial";
}

h1{
    font-family: "Tahoma";
    color: white;
    text-decoration: underline;
    font-size: 73px;
    text-underline-offset: 15px;

}

h2{
    text-decoration: underline;
    font-size: 50px;
    text-underline-offset: 11px;
    font-weight: 700;
}

header{
    background-color: #17072b;
    text-align: center;
    padding: 1px;
}

footer{
    background-color: #8c15e9;
    color: white;
    text-align: center;
    font-size: 33px;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
}

aside{
    float: right;
    background-color: #172d67;
    width: 34%;
    margin-top: 20px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
    font-size: 45px;
    margin-right: 40px;
}

li.none{
    display: inline;
}

ul.space{
    padding-bottom: 20px;
}

ul.nspace{
    list-style-type: "- ";
    line-height: 75px;
    font-size: 30px;
    color: white;
    padding-left: 70px;
}

.text{
    font-size: 30px;
}

.color{
    color: white;
    padding-left: 50px;
    margin-bottom: 5px;
}

main{
    padding-left: 50px;
}

.cimg{
    display: block;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 37px;
    margin-left: 20px;
}

.space{
    padding-left: 7px;
}

