header{
    background-color: #17072b;
    text-align: center;
    padding: 1px;
}
h1{
    font-family: Tahoma;
    color: white;
    text-decoration: underline;
    font-size: 80px;
    text-underline-offset: 15px;
    padding-bottom: 5px;
    font-weight: 700;

}
ul.no{
    list-style-type: none;
    padding-bottom: 15px;
}
li.no{
    display: inline;
    font-size: 50px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
    margin-right: 55px;
}
body{
    font-family: Arial;
    font-weight: 400;
    margin: 0;
}
footer{
    background-color: #8c15e9;
    color: white;
    text-align: center;
    font-size: 32px;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
}
h2{
    text-decoration: underline;
    font-size: 55px;
    text-underline-offset: 11px;
    font-weight: 700;
}
.text{
    font-size: 33px;
    margin-right: 750px;
}
main{
    padding-left: 50px;
}
aside{
    float: right;
    color: white;
    background-color: #172d67;
    padding: 0px 30px 45px 60px;
    
}
ul.nspace{
    padding-left: 15px;
    list-style-type: "- ";
    line-height: 70px;
    font-size: 33px;
    padding-bottom: 35px;
}
img{
    margin: 3px;
}
h2.top{
    margin-bottom: 20px;
}
