a:visited, a:link, a:active
{
    text-decoration: none;
    margin-right: 100px;
    color:#f5ddce;
}
a:hover{
    color: #d1a181;
}
nav{
    font-size: 30px;
    text-align: center;
    padding: 15px;
    background-color: #96415c;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table, th, td{
    border: 3px solid #96415c;
    border-radius: 5px;
    width: 800px;
    padding: 8px;
    
}

h1.title{
    font-size: 80px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    text-transform: uppercase;
    color: #d26069;
    letter-spacing: 15px;
  
    margin: 0;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    letter-spacing: 3px;
    color: #96415c;
    margin: 20px;
}
body{
    background-color: #f5f3e7;
    font-size: 25px;
    color: #bd747d;
    padding: 5px;
    text-align: justify;
}
#review1{
    border: 1px solid #96415c;
    border-radius: 10px;
    background-color: #96415c;
    color: #f5f3e7;
    padding: 10px;
    margin: 40px;
}
.checked {
    color: #e1969f;
}
dt{
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
    color: #96415c;
}
dd{
    margin: 40px;
    margin-top: 25px;
}
p.margin{
    margin: 40px;
}
table{
    margin: 40px;
}
p.mreview{
    margin: 20px;
}
h3{
    margin: 20px;
}
span{
    padding-left: 20px;
}
th{
    color: #96415c;
}